---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
    <p>
        <HeaderLink href="/">home</HeaderLink> |
        <HeaderLink href="/archives">archives</HeaderLink> |
        <HeaderLink href="/categories">categories</HeaderLink> |
        <HeaderLink href="/tags">tags</HeaderLink>
        <br />
        <HeaderLink href="/projects">projects</HeaderLink> |
        <HeaderLink href="https://linktr.ee/ryliexd">socials</HeaderLink>
    </p>
    <p>
        <big>{SITE_TITLE}</big>
    </p>
</header>
