---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Sidebar from "../components/Sidebar.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"archives">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
const pagePathname = Astro.url.pathname;
---

<html lang="en">
    <head>
        <BaseHead title={title} description="" />
    </head>

    <body>
        <div id="main-wrapper">
            <div id="wrapper">
                <Sidebar />
                <section id="main">
                    <div class="content">
                        <slot />
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
